
<div> 
    <a href="/">Back to home</a>
    
    <h2>Your favorite list of added Pokemon.</h2>
    <h4>You have:</h4>
    <% if(pokemons.length) {%>
        <% pokemons.forEach(poke => {%>
           <ul> <!-- put al information from fave route -->
            <a href="/pokemon/<%= poke.name%>">
                <li>  <h2><%= poke.name %> </h2> </li>  
            </a>
        </ul>

      <% })%>
   <% } else {%> 
    <h2> No faves yet</h2>
       <% }%> 
</div>