
<div> 
    <a href="/">Back to home</a>
    
    <h2>Greetings Poke Master!</h2>
    <h4>These are the Pokemons you have added to your favorites.  </h4>
    <% if(pokemons.length) {%>
        <% pokemons.forEach(poke => {%>
           <ul> <!-- put al information from fave route -->
            <a href="/pokemon/<%= poke.name%>">
                <li>  <h2><%= poke.name %> </h2> </li>  
            </a>
            <h4><%= poke.url%></h4>
        </ul>

      <% })%>
   <% } else {%> 
    <h2> No faves yet</h2>
       <% }%> 
</div>