<div>
    <h2>Faves</h2>
    <% if(pokemons.length) {%>
        <% pokemons.forEach(poke => {%>
            <!-- put al information from fave route -->
            <h3><%= poke.name %></h3>

      <% })%>
   <% } else {%> 
    <h2> No faves yet</h2>
       <% }%> 
</div>